cltk==1.1.1
-e git+https://github.com/diyclassics/cltk_readers.git@46ca6b7db3d3066551925ae7fa27bb353be7c91d#egg=cltk_readers
lxml==4.9.1
matplotlib==3.5.1
natsort==8.1.0
pandas==1.4.1
seaborn==0.11.2
tqdm==4.63.0
